*{
  color: black;
}
html {
  background: url(pexels-sunset-windmill_50prcnt.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.link-p{
  font-weight: bold;
}
.center{
  margin:auto;
  width:50%;
  padding: 10px;
  text-align: center;
}
.content{
  padding-top:5%;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 1rem;
}
.img{
  width: 80px;
  height: 80px;
}