
.content{
  max-width: 80%;

}

}.container {
    overflow: hidden;
    background-color: #333;
    font-family: "Josefin Sans";
}

.container a {
    float: left;
    font-size: 16px;
    color: "black";
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: "black";
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Links inside the dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


img{

    max-width: 100%;
    max-height: 15%;
}
nav_link{
  font-style: italic;
}
div{
  text-align: center;
}
li{
  float: left;
}

@font-face {
  font-family: "Josefin Sans"
}
