*{
  font-family: 'Josefin Sans';
  text-align: center;
  background-color: black;
  color: #3370cc;
  align-content: center;
}


img#banner{
	width: 80%;
}

img#index_add{
  width: 80%;
  align-self: center;
}
div.table{
  line-height: 1.5rem;
  font-weight:400;
  background-position: center;
  align-content: center;
  max-width: 50%;
}
#nav{
    width: 80%;
    align-self: center;
    padding-left: 10%;

}

.page{
align-content: center;
padding: 10%;
}

/*navigation list items*/
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
  }

  li {
      float: left;
  }

  li a, .dropbtn {
      display: inline-block;
/*initial navigation bar headings colour*/
      color: #d7f4f4;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover, .dropdown:hover .dropbtn {
      background-color: TEAL;
      color: #00802b;
  }

  li.dropdown {
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
/*background colour for dropdown links*/
      background-color: pink;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;

  }

  .dropdown-content a {
/*colour of link text*/
      color: #00802b;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
      display: block;
  }

/*for the c3 hover link*/
  a>div { display: none; }
  a:hover>div { display: block; }
